services:
  db:
    image: postgres:17-alpine
    container_name: tg_bot_navigator_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: telegram_bot_navigator
    ports:
      - "5435:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d
    restart: always

volumes:
  pgdata:
